body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,img,input,textarea,p,blockquote,table,th,td,a,abbr,address,caption,cite,code,dfn,em,strong,th,var,hr,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,mark{margin:0;padding:0;background:transparent;border:0;border-collapse:collapse;border-spacing:0;font-style:inherit;font-weight:inherit;text-decoration:none;text-align:left;list-style:none;quotes:none;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
input:focus,a:focus,textarea:focus{outline:0;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}
sup,sub{vertical-align:baseline;position:relative;top:-0.4em;}sub{top:0.4em;}
html,body,textarea,input,select,legend{font:18px/20px Helvetica,Arial,Verdana,sans-serif;color:#333;}

html {
    background: #888;
    overflow: hidden;
}

body {
    position: absolute;
    width: 904px;
    height: 680px;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: -340px 0 0 -452px;

    -webkit-perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
}

label {
    display: block;
}

input,
select,
textarea {
    background: #FFF;
    padding: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
    input[type="number"] {
        width: 80px;
    }

body > header,
body > article,
body > article > header,
body > article > section,
body > article > footer,
body > footer {
    display: none;
    position: absolute;
	margin: 0;
    width: 90%;
    height: 90%;
    padding: 5%;

    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -ms-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -o-transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

body > header,
body > article > header,
body > article > section,
body > article > footer,
body > footer {
    background: #DDD;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

.past {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
}
    body > article > header.past,
    body > article > section.past,
    body > article > footer.past {
        -webkit-transform: translate3d(0, -50%, 0) rotateX(70deg) translate3d(0, -50%, 0);
    }

.present {
    display: block;
}

.future {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
}
    body > article > header.future,
    body > article > section.future,
    body > article > footer.future {
        -webkit-transform: translate3d(0, 50%, 0) rotateX(-70deg) translate3d(0, 50%, 0);
    }

form#goto {
    opacity: 0;
    background: rgba(0,0,0,0.9);
    color: #FFF;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    padding: 20px;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;

    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    -webkit-transform: scale(0.5);
}
    form#goto.show {
        opacity: 1;
        -webkit-transform: scale(1);
    }